<h1>Chamados</h1>
<hr>
<div>
	<ul>
		<% @chamados.each do |chamado| %>
			<li>
				<p>
					<%=l chamado.created_at, :format => :short %> - <%= chamado.nome + "||" + chamado.coletivo %>	
					<br />
					<%= link_to "Detalhes", chamado %>
			</li>
		<% end %>
	</ul>
</div>
<hr>
<%= link_to "Voltar", root_path %>&nbsp;
<%= link_to "Novo Chamado", new_chamado_path %>
