<h1>Chamado número: <%= @chamado.id %></h1>

<p>
	Responsável: 
	<% if @usuario_atual.usuario_tipos_id == 1 %>
		<%= !@responsabilidade.nil? ? @responsabilidade.usuario.nome : link_to("Pegar", 
			new_responsabilidade_path(@usuario_atual, :chamado_id => @chamado.id)) 
		%>
	<% else %>
		Ninguém abraçou a causa ainda.
	<% end %>
</p>

<p>
	Status: <%= @chamado_status.nome %>
</p>

<p>
	Do tipo: <%= @chamado_tipo.nome %>
</p>

<p>
	Aberto por: <%= @chamado.nome %>
</p>

<p>
	Do coletivo: <%= @chamado.coletivo %>
</p>

<p>
	Pela frente: <%= @chamado.frente %>
</p>

<p>
	Assunto: <%= @chamado.descricao %>
</p>

<%= link_to "OK", root_path %>
