<p>
  <b>Nome:</b>
  <%=h @usuario.nome %>
</p>

<p>
  <b>Email:</b>
  <%=h @usuario.email %>
</p>

<p>
  <b>Login:</b>
  <%=h @usuario.login %>
</p>

<p>
  <b>ADM:</b>
  <% bool = @usuario.adm ? 'Sim' : 'Não' %>
  <%=h bool %>
</p>

<% if @usuario_atual.id == @usuario.id %>
	<%= link_to 'Editar', edit_usuario_path(@usuario) %> |
<% end %>
<%= link_to 'Voltar', usuarios_path %>